.footer2{
    background-color: wheat;
}
.develop{
  font-size: large;
  font-weight: bolder;
  color: #3498db;
  background: #f1f1f1;
  box-shadow: 0 5px 15px -5px #000000fb;
  padding: 15px 20px;
  text-align: center;
}
